
.navbar, navbar-expand-lg, navbar-light, bg-light{
 position: fixed;
 top: 0; /* Ajusta a posição no topo */
    left: 0;
    width: 100%;
    padding: 10px 0; /* Espaçamento interno */
    z-index: 1000;
    
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Define a altura mínima da página para 100% da altura da janela de visualização (viewport) */
    
}

.wrapper {
    flex-grow: 1; /* Permite que o conteúdo principal cresça e preencha o espaço disponível */
}

.navbar-brand{
    display: inline-block;
    width: 30px; /* Largura desejada para o ícone */
    height: 30px; /* Altura desejada para o ícone */
    border: 10px solid paleturquoise;
    border-radius: 20%;
    background-color: paleturquoise;
    background-size: cover;
}
.paragrafoSobre{
    font-size: 20px;
}
.textoSobre{
    margin-left: 50px;
    align-items: center; 
    justify-content: center;
}

.imgCat{
    width: 20%;
    height: auto;
}

.containerSobre{
    margin-top: 95px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    background-color: rgb(226, 159, 183);
    border: 2px solid paleturquoise;
    border-width: 10px;
    border-radius: 30px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    height: 500px;
    width: auto;
}


.containerActions{
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    background-color:  rgb(226, 159, 183);
    border: 2px solid paleturquoise;
    border-width: 10px;
    border-radius: 30px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    height: auto;
    width: 90%;
    overflow-wrap: break-word;
}

.icon{
    width: 35%;
    height: auto;
}

.divisao{
    padding-top: 10px;
    padding-bottom: 0px;
    width: 80%; 
    border-top: 1.5px solid gray; 
    margin: 50px auto;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.iconComponent{
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    text-align: center;
    margin: 0 10px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.iconComponent:hover {
    transform: scale(1.1);
    width: 140%;
}

.textIcon{
    align-items: center; 
    justify-content: center;
    font-size: 16px;
}

.containerIdeiaProj{
    margin-top: 40px;
    margin-left: 5%;
    display: flex;
    margin-right: 5%;
    background-color:  rgb(226, 159, 183);
    border: 2px solid paleturquoise;
    border-width: 10px;
    border-radius: 30px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    height: auto;
    width: 90%;
    overflow-wrap: break-word;
}

.text-left{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.hover-image {
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    width: 100px; /* Largura inicial da imagem */
    height: auto;
    border-radius: 50%;
}

.hover-image:hover {
    transform: scale(1.1);
    width: 110px;
}


@media (max-width: 768px) {
    .hover-image {
        pointer-events: none; /* Desativa o hover em dispositivos móveis */
    }
}
@media (max-width: 768px) {
    .imgComponent {
        pointer-events: none; /* Desativa o hover em dispositivos móveis */
    }
}

.btn, btn-light{
    margin: 5px;
}


.containerListBooks{
    margin-top: 85px;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.containerListBooksProfile{
    margin-top: 10px;
    margin-left: 40%;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.card-books{ 
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    height: auto;
    width: 90%;
}


.list-group, list-group-flush{
    width: 85%;
}

@media (max-width: 768px) {
    .list-group, list-group-flush {
        width: 100%;
        font-size: 4px;
    }
}

/* Estilos para dispositivos de tela grande (PC) */
@media (min-width: 769px) {
    .list-group, list-group-flush {
        width: 55%;
    }
    
}


/* Estilos para o botão */
.btnGetBooks {
    padding: 10px;
    bottom: 10px;
    right: 10px;
    background-color:  rgb(71, 150, 150);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* Estilos de hover para o botão */
.btnGetBooks:hover {
    background-color:  rgb(29, 109, 109);
}

.botaoTexto{
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto-abaixo {
    display: none;
}

/* Estilos para o texto abaixo do botão em telas grandes */
@media (min-width: 1000px) {
    .texto-abaixo {
        display: block; /* Torna o texto visível em telas grandes */
        font-size: 16px;
    }
}


/* Cadastro de Livro */
.form-container {
    position: relative;
    padding: 20px;
    margin-top: 90px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;/* Um valor maior do que o z-index da barra de navegação */
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}