

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class="container d-flex align-items-center vh-100">
  <div
    style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; border: 2px solid #000; border-radius: 10px;">

    <div class="row">
      <div class="col">
        <h1>{% trans "Sair" %}</h1>

        <p>{% trans 'Tem certeza que deseja sair?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-outline-dark" type="submit">{% trans 'Sair' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
