{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container d-flex align-items-center vh-100">
    <div
      style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; border: 2px solid #000; border-radius: 10px;">
  
      <div class="row">
        <div class="col">
    <h1>{% trans "Mudar a senha" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
        <button class="btn btn-success" style="width: 25%;" type="submit" name="action">{% trans "Mudar a senha" %}</button>
        <a class="btn btn-outline-dark" style="width: 35%;" href="{% url 'account_reset_password' %}">{% trans "Esqueceu sua senha?" %}</a>
    </div>
</form>
    </div></div></div></div>
{% endblock content %}
